[submodule "multiple-cursors.el"]
	path = multiple-cursors.el
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "mark-multiple.el"]
	path = mark-multiple.el
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "vendor/emacs-powerline"]
	path = vendor/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
