[submodule "multiple-cursors.el"]
	path = multiple-cursors.el
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule "mark-multiple.el"]
	path = mark-multiple.el
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "rhtml"]
	path = rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "rinari"]
	path = rinari
	url = git://github.com/eschulte/rinari.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "php-mode"]
	path = php-mode
	url = git://github.com/ejmr/php-mode.git
